.App {
  text-align: center;
}

.dk3{
display:flex;
flex-wrap:wrap;
flex-direction:column;
width:30%;
height:30vh;
margin:3px;
align-items: center;
justify-content:center
}
.dko{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}